body {
   font-family: Roboto, sans-serif;
}
.color-section {
   background-color: #f0f1fa;
}
.navbar {
   background-color: #2a32af;
}
#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
   color: #fff;
}
#cabecalho .nav .nav-link.active {
   background-color: #3038af;
}
.btn-contato {
   background-color: #3038af;
   color: #fff;
   padding: 10px 55px;
}

.social-links li {
   list-style: none;
   display: inline;
}
.social-links a {
   text-decoration: none;
}
@media (max-width: 767px){
  .carrousel-item img{
     height: 280px;
  }
  .style{
    margin-bottom: 25px;
  }
}